<!doctype html>
<html>
    <head>
        {% if title %}
        <title>{{ title }} - PurposeLess App</title>
        {% else %}
        <title>Welcome to Purposeless App!</title>
        {% endif %}
        <link rel="stylesheet" type="text/css" href="static/css/base.css">
        <script type="text/javascript" src="static/js/uuid.js"></script>
    </head>
    <body>
        <header>
            <h1>Purposeless App</h1>
            <div class="nav">
                <a href="/index">Home</a>
                <a href="/uuid">UUID</a>
                <a href="/members">Members</a>
            </div>
        </header>
        <main class="container">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
            {% block bodycontent %}{% endblock %}
        </main>
    </body>
</html>