{% extends "base.htm" %}

{% block bodycontent %}
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Age</th>
            </tr>
        </thead>
        <tbody>
        {% for member in members %}
        <tr>
            <td>{{ member.member_name }}</td>
            <td>{{ member.member_age }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <br>

    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <div>
            {{ form.member_name.label }}<br>
            {{ form.member_name(size=32) }}
        </div>
        <div>
            {{ form.member_age.label }}<br>
            {{ form.member_age() }}
        </div>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
